<%- include("header") -%>
    <h1>Contact Us</h1>
    <div>
        <p>Pellentesque dignissim enim sit amet venenatis. Gravida neque convallis a cras semper auctor. Arcu non sodales neque sodales ut. Est placerat in egestas erat imperdiet sed euismod nisi. Amet mauris commodo quis imperdiet. Neque egestas congue quisque egestas diam in arcu cursus. Tellus elementum sagittis vitae et leo duis ut. Sollicitudin nibh sit amet commodo nulla facilisi nullam. Commodo nulla facilisi nullam vehicula ipsum a. Dignissim cras tincidunt lobortis feugiat vivamus at. Aliquet lectus proin nibh nisl condimentum id venenatis a condimentum. Aenean euismod elementum nisi quis eleifend quam adipiscing.</p>
    </div>
<%- include("footer") -%>